.dashboard{
    .interview-stage{
        position: relative;
        &:before{
            content: "→";
            position: absolute;
            right: -20px;
            top: 25px;
        }
    }
    .card-link {
        color: #2F80ED;
    }
}