.notes-box {
    background-color: "#EFEFEF";
    border-radius: 7px;
    padding-bottom: 5px
}

.notes-box span {
    color:darkgrey
}

.arrow {
    content: "";
    transform: rotate(90deg);
    position: fixed;
    top: 31%;
    left: 74%;
    margin-left: -6px;
    border-width: 7px;
    border-style: solid;
    border-color: #EFEFEF transparent transparent transparent;

}

.notes-box li {
    padding-top: 10px;
    list-style-type: none;
    padding-left:10px
}

.button.btn.btn-primary.btn-sm {
    margin-top: -2;
}

